.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "p6 p6"
      "c1 p5"
      "c2 p4"
      "c3 p3"
      "c4 p2"
      "c5 p1"
      "c6 c6";
      border: 1px solid black;
      width: 300px; 
      height: 600px;
      margin: auto;
      background-image: url("/woodboard.jpeg");
  }

  h1 {
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 68px;
  }

  h2 {
    padding-top: 20px;
    font-size: 36px;
  }
  
  #p6 { grid-area: p6; 
}

  
  #p1 { grid-area: p1; 

}
  
  #p2 { grid-area: p2; 

}
  
  #p3 { grid-area: p3; 

}

.bottom-text { 
    margin: auto;
    text-align: center;
}
  
  #p4 { grid-area: p4; }
  
  #p5 { grid-area: p5; }
  
  #c1 { grid-area: c1; }
  
  #c2 { grid-area: c2; }
  
  #c3 { grid-area: c3; }
  
  #c4 { grid-area: c4; }
  
  #c5 { grid-area: c5; 
  }
  
  #c6 { grid-area: c6; 
}

.item {  
  color: black;
  text-align: center;
  font-size: 30px;
}

.large {  
  border-radius: 25px;
  border: 2px solid black;
  margin: 10px;
}

.small { 
  border-radius: 25px;
  border: 2px solid black;
  margin: 10px;
}

body {
  background-color: skyblue;
}


  